/*Place css styling here*/

@font-face {
      font-family: "Signika";
      src: url("Signika/Signika-Regular.ttf");
    }
    
@font-face {
      font-family: "SignikaBold";
      src: url("Signika/Signika-Bold.ttf");
    }

body,
html {
	margin: 0;
	padding: 0;
	color: #000;
    font-family: "Signika";
	background: #b0c4de;
}
    
body#login-page {
	text-align: center;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}

header {
	margin: 0;
	text-align: center;
}

header img {
	margin: 0px auto;
}

#left {
	float: left;
	width: 50%;
}

#right {
	float: right;
	width: 50%;
}
	
.logout {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	text-align: center;
	margin: 15px;
	display: block;
	border: 1px solid #aaa;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black;
	color: #666;
	background: #ddd;
	text-decoration: none;
}


#AVATARMovementControlsLabel {
	text-align: center;
	display: block;
	margin: 0px auto;
	padding: 0;
	width: 50%;
	line-height: 50px;
	color: #666;
	background: #ddd;
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);*/
    font-family: "SignikaBold";
	border: 1px solid #aaa;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black
}

.box-title {
	text-align: center;
	display: block;
	margin: 0px auto;
	padding: 0;
	width: 90%;
	line-height: 50px;
	color: #666;
	background: #ddd;
    font-family: "SignikaBold";
	border: 1px solid #aaa;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black
}

#AVATARMovementControls {
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 7px;
	margin: 30px auto;
	width: 90%;
	box-shadow: 2px 2px 7px black;
}

#login-box {
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 7px;
	margin: 30px auto;
	width: 400px;
	box-shadow: 2px 2px 7px black;
}

.button {
     /*Basic Button Styles*/
    display: block;
    height: 50px;
    width: 120px;
    background: #A0B0E0;
    border: 2px solid rgba(33, 68, 72, 0.59);
	margin: 20px 10px;
     
    /*Text Styles*/
    color: rgba(255,0,0);
    text-align: center;
    font: bold 1.5em/50px "Signika", Arial, Helvetica, Geneva, sans-serif;
     
    /*Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #34696f, #2f5f63);
    background: -moz-linear-gradient(top, #34696f, #2f5f63);
    background: -o-linear-gradient(top, #34696f, #2f5f63);
    background: -ms-linear-gradient(top, #34696f, #2f5f63);
    background: linear-gradient(top, #34696f, #2f5f63);
     
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
     
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;
     
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
     
}
#stop {
	font: bold 2em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: rgba(255,255,0,255);
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 40%;
}

