/*Place css styling here*/

@font-face {
      font-family: "Signika";
      src: url("Signika/Signika-Regular.ttf");
    }
    
@font-face {
      font-family: "SignikaBold";
      src: url("Signika/Signika-Bold.ttf");
    }

body,
html {
	margin: 0;
	padding: 0;
	color: #000;
    font-family: "Signika";
	background: black;
}
    
body#login-page {
	text-align: center;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}

#header {
	
	margin: 0;
	text-align: center;
	height: 180px;
}

#header img {
	margin: 0px auto;
	height: 180px;
}
#nav {
	margin: 0px;
	float: right;
	margin-left: 30%;

}

    
.button {
     /*Basic Button Styles*/
 
	width: 50px;
	padding: 0 10px 0 10px;
}

#left {
	float: left;
	width: 50%;
}

#right {
	float: right;
	width: 50%;
}
	
.logout {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	text-align: center;
	margin: 15px;
	display: block;
	border: 1px solid #aaa;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black;
	color: #666;
	background: #ddd;
	text-decoration: none;
}


#AVATARMovementControlsLabel {
	text-align: center;
	display: block;
	margin: 0px auto;
	padding: 0;
	width: 50%;
	line-height: 50px;
	color: #666;
	background: #ddd;
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);*/
    font-family: "SignikaBold";
	border: 1px solid #aaa;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black
}

.box-title {
	text-align: center;
	display: block;
	margin: 0px auto;
	padding: 0;
	width: 90%;
	line-height: 50px;
	color: #666;
	background: #ddd;
    font-family: "SignikaBold";
	border: 1px solid #aaa;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black
}

#AVATARMovementControls {
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 7px;
	margin: 30px auto;
	width: 90%;
	box-shadow: 2px 2px 7px black;
}

#login-box {
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 7px;
	margin: 30px auto;
	width: 400px;
	box-shadow: 2px 2px 7px black;
}



#userVideoContainer {
	width: 90%;
	margin: 30px auto;
}

video {
	width: 100%;
}
