/* Credit to Khanh Lee, Paul Bretanus, Christopher Early */
@font-face {
      font-family: "Signika";
      src: url("Signika/Signika-Regular.ttf");
    }
    
@font-face {
      font-family: "SignikaBold";
      src: url("Signika/Signika-Bold.ttf");
    }

body,
html {
	margin: 0;
	padding: 0;
	color: gray;
    font-family: "Signika";
	background: gray;
}
    
body#login-page {
	text-align: center;
	background: #464343;
}

body#login-page img {
	
	background: black;
}

#wrap {
	width: 100%;
	margin: 0 auto;
}

#header {
	
	margin: 0.5% 2%;
	text-align: center;
	height: 190px;
	background: black;
}

#header img {
	margin: 0px auto;
	float: center;
	margin: 0% 10%;
	
}
#nav {
	
	float: center;
	margin: 20px; 
	


}

    
.button {
     /*Basic Button Styles*/
	padding: 10px;
	width: 70%;
	
}
#container{
	margin: 0 2%;
	padding-top: 1%;
	height: 600px;
	background: #464343;
}

#left {
	float: left;
	width: 60%;
}



#AVATARVideoContainer{
	position: relative;
    height: 500px;
	width: 95%;
	margin: 20px;
	background: green;
}

#userVideoContainer {
	float: right;
	width: 200px;
	
	height: 200px;
	background: blue;
}

#right {
	float: right;
	width: 40%;
}
	
.logout {
	position: absolute;
	top: 0;
	right: 20px;
	width: 100px;
	text-align: center;
	margin: 15px;
	display: block;
	border: 1px solid #aaa;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black;
	color: #666;
	background: #ddd;
	text-decoration: none;
}




.box-title {
	text-align: center;
	display: block;
	margin: 0px auto;
	padding: 0;
	width: 95%;
	line-height: 50px;
	color: #666;
	background: #ddd;
    font-family: "SignikaBold";
	border: 1px solid #aaa;
	border-radius: 7px;
	box-shadow: 2px 2px 7px black
}



#login-box {
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 7px;
	margin: 30px auto;
	width: 400px;
	box-shadow: 2px 2px 7px black;
}


#userVideoPageVideo{
	width: 100px;
	height: 100px;
	border: 3px solid #aaa;
	padding: 10px;
	background: blue;
}


video {
	width: 100%;
}
